$primary1:#645c2d;
$primary2:#668967;
$primary3:#69b6a2;
$primary4:#6ce3dd;

$c1:rgb(247, 109, 18);

$grey1: rgb(233, 233, 233);
$grey2: rgb(141, 141, 141);
$grey3: #363636;
$grey4: #181818;

$nav-bg:rgba(255, 255, 255);
$nav-bg-solid:rgb(255, 255, 255);